<header class="text-sm text-gray-800 box-border flex items-center justify-between m-0 h-12 px-4 py-0">
  <div class="text-sm text-gray-800 box-border relative pl-1 bg-transparent rounded">
    <h1 class="box-border font-semibold text-base leading-6 m-0 cursor-pointer flex select-none">
      <span
        class="font-semibold leading-6 cursor-pointer select-none box-border items-center justify-center -ml-1 -mr-px inline-block">Channel</span>
      <i></i>
    </h1>
  </div>
  <div class="text-sm text-gray-800 box-border relative h-8">
    <button
      class="box-border m-0 overflow-visible normal-case cursor-pointer select-none w-6 h-6 p-0 bg-transparent text-lg">
      <i class="normal-case cursor-pointer text-lg box-border select-none"></i>
    </button>
  </div>
</header>
<div class="text-sm text-gray-800 box-border">bb</div>
<div class="text-sm text-gray-800 box-border relative">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
