<div>
  <form>
    <h1>Sign in</h1>
    <p>Welcome</p>
    <div>
      <label for="email">Email Adress</label>
      <input
        [(ngModel)]="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        type="email"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        [(ngModel)]="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        type="password"
      />
    </div>
    <button (click)="send()" class="btn">Send</button>
  </form>
</div>
