<div class="text-white mb-2 mt-3 px-4 flex justify-between">
  <div class="flex-auto">
    <h1 class="font-semibold text-xl leading-tight mb-1 truncate">Tailwind CSS</h1>
    <div class="flex items-center mb-6">
      <span class="bg-green-500 rounded-full block w-2 h-2 mr-2"></span>
      <span class="text-white opacity-50 text-sm">Adam Wathan</span>
    </div>
  </div>
  <div class="cursor-pointer">
    <img alt="Notifications" class="h-7 w-7 fill-current opacity-25 hover:opacity-75" src="assets/notifications.svg">
  </div>
</div>
<div class="mb-8">
  <div class="px-4 mb-2 text-white flex justify-between items-center">
    <div class="opacity-75">Channels</div>
    <div class="cursor-pointer">
      <img alt="plus" class="fill-current h-5 w-5 opacity-50 hover:opacity-85" src="assets/add_circle.svg"/>
    </div>
  </div>
  <div class="bg-teal-700 py-1 px-4 text-white"># general</div>
  <app-channel-button name="general">
    <span class="block mr-2 mt-1 text-white opacity-75 hover:opacity-100">#</span>
  </app-channel-button>
</div>
<div class="mb-10">
  <div class="px-4 mb-2 text-white flex justify-between items-center">
    <div class="opacity-75">Direct Messages</div>
    <div class="cursor-pointer">
      <img alt="plus" class="fill-current h-5 w-5 opacity-50 hover:opacity-85" src="assets/add_circle.svg">
    </div>
  </div>
  <app-channel-button name="Adam Wathan">
    <span class="bg-green-500 rounded-full block w-2 h-2 mr-2"></span>
  </app-channel-button>
  <app-channel-button name="David Hemphill">
    <span class="bg-green-500 rounded-full block w-2 h-2 mr-2"></span>
  </app-channel-button>
  <app-channel-button class="opacity-50" name="Steve Schoger">
    <span class="border border-white rounded-full w-2 h-2 mr-2"></span>
  </app-channel-button>
</div>
<div>
  <div class="px-4 mb-2 text-white flex justify-between items-center">
    <div class="opacity-75">Apps</div>
    <div class="cursor-pointer">
      <img alt="plus" class="fill-current h-5 w-5 opacity-50 hover:opacity-85" src="assets/add_circle.svg">
    </div>
  </div>
</div>
